{% extends "_layouts/cp" %}

{% set title = "Entry Explorer"|t('entry-explorer') %}

{% set entries = craft.entryExplorer.entries.all() %}

{% block content %}

{% if entries|length %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Entry ID"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Type Handle"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Type Name"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Title"|t('entry-explorer') }}</th>
                    <th>{{ "Section"|t('entry-explorer') }}</th>
                    <th>{{ "URL"|t('entry-explorer') }}</th>
                    <th>{{ "Fields"|t('entry-explorer') }}</th>
                    <th>{{ "Empty Fields"|t('entry-explorer') }}</th>
                    <th>{{ "First Check"|t('entry-explorer') }}</th>
                    <th>{{ "Last Check"|t('entry-explorer') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}

                {% set entryExplorerFields = craft.entryExplorer.entryExplorerFields(entry.id) %}
                <tr>
                    <td>
                        <a href="{{ url('entries/' ~ entry.section.handle ~ '/' ~ entry.id ~ '-' ~ entry.slug) }}">
                            {{ entry.id }}
                        </a>
                    </td>
                    <td>
                        {{ entry.type }}
                    </td>
                    <td>
                        {{ entry.type.name }}
                    </td>
                    <td>
                        {{ entry.title }}
                    </td>
                    <td>
                        {{ entry.section }}
                    </td>
                    <td>
                        {% if entry.url %}
                            <a href="{{ entry.url }}" class="go" target="_blank">
                                {{- entry.uri == '__home__' ? '/' : entry.uri -}}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <span class="status-label teal">field1</span>
                        <span class="status-label red">field2</span>
                        <span class="status-label teal">field3</span>
                        <span class="status-label teal">field4</span>
                        <span class="status-label teal">field5</span>
                        <span class="status-label teal">field6</span>
                        <span class="status-label red">field7</span>
                    </td>
                    <td>
                        {{ entryExplorerFields.hasEmptyFields ? 'Yes' : 'No' }}
                    </td>
                    <td>
                        {{ entryExplorerFields.dateCreated|datetime }}
                    </td>
                    <td>
                        {{ entryExplorerFields.dateUpdated|datetime }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ "No entries processed yet"|t('entry-explorer') }}
    {% endif %}

{% endblock %}
