{% extends "_layouts/cp" %}

{% set title = "Entry Explorer"|t('entry-explorer') %}

{% do craft.entryExplorer.importPluginData() %}

{% set entries = craft.entryExplorer.entries.orderBy('entryId').all() %}

{% block content %}
    
    {% if entries|length %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Entry ID"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Type Handle"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Type Name"|t('entry-explorer') }}</th>
                    <th>{{ "Entry Title"|t('entry-explorer') }}</th>
                    <th>{{ "Section"|t('entry-explorer') }}</th>
                    <th>{{ "URL"|t('entry-explorer') }}</th>
                    <th>{{ "Fields"|t('entry-explorer') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                {% set section = entry.section %}
                {% if section.handle ?? false  %}
                    <tr>
                        <td>
                            <a href="{{ url('entries/' ~ entry.section.handle ~ '/' ~ entry.id ~ '-' ~ entry.slug) }}">
                                {{ entry.id }}
                            </a>
                        </td>
                        <td>
                            {{ entry.type }}
                        </td>
                        <td>
                            {{ entry.type.name }}
                        </td>
                        <td>
                            {{ entry.title }}
                        </td>
                        <td>
                            {{ entry.section }}
                        </td>
                        <td>
                            {% if entry.url %}
                                <a href="{{ entry.url }}" class="go" target="_blank">
                                    {{- entry.uri == '__home__' ? '/' : entry.uri -}}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                        {% for field in entry.usedFields|split(';') %}
                            <span class="status-label teal">{{ field }}</span>
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <form action="" method="post">
            {{ csrfInput() }}
            {{ actionInput('entry-explorer/entry-explorer/reset') }}
            <input type="submit" value="{{ 'Reset'|t('craft-entry-explorer') }}" class="btn submit">
        </form>
    {% else %}
        {{ "No entries processed yet"|t('entry-explorer') }}
    {% endif %}

{% endblock %}
